<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/pr.css">

    <title>Welcome to CMS</title>
</head>

<body>
    <div id="progressbar"></div>

    <script>
        document.ready = function(callback) {
            if (document.readyState != 'loading') {
                callback();
            } else {
                document.addEventListener('DOMContentLoaded', callback);
            }
        };


        (function() {

            document.ready(function() {

                /* We have to know some stuff of the current screen, that we will get over the following variables */
                let progressbar = document.getElementById("progressbar");
                if (!!progressbar) {

                    let body = document.getElementsByTagName("body")[0];
                    let window_height = body.offsetHeight;
                    let client_height = document.documentElement.clientHeight;

                    /* The following variables are for storing the neccessary scroll-data */
                    let last_known_scroll_position = 0;
                    let ticking = false;

                    /* This Event-Listener will hook onto the Scroll-Event of the Browser */
                    window.addEventListener('scroll', function(e) {

                        last_known_scroll_position = window.scrollY;
                        if (!ticking) {

                            window.requestAnimationFrame(function() {

                                nowScrolling(last_known_scroll_position);
                                ticking = false;

                            });
                            ticking = true;

                        }

                    });

                    /*
                    I use the Client-Height for a accurate percentage of the current screen-state.
                    On window-resizing the variable "client_height" would stay the same, if I won't add this Event-Listener
                    */
                    window.addEventListener("resize", refactorScreenHeight);
                    var mutationObserver = new MutationObserver(refactorScreenHeight);
                    mutationObserver.observe(document.documentElement, {
                        attributes: true,
                        characterData: true,
                        childList: true,
                        subtree: true,
                        attributeOldValue: true,
                        characterDataOldValue: true
                    });

                    function refactorScreenHeight() {

                        client_height = document.documentElement.clientHeight;
                        window_height = body.offsetHeight;

                    }

                    function nowScrolling(last_known_scroll_position) {

                        /* Here you also can add your own functions. The following is an example for the Scroll-Bar */
                        let percentage = last_known_scroll_position / (window_height - client_height) * 100;
                        progressbar.style.right = "calc( 100% - " + Math.round(percentage) + "% )";

                    }

                }

            });

        })();
    </script>
    <div id="container0" class="center">
        <div class="loader">
            <p class=load>CMS</p>
        </div>

    </div>
    <script>
        document.onreadystatechange = function() {
            if (document.readyState !== "complete") {
                document.querySelector(
                    "body").style.visibility = "hidden";
                document.querySelector(
                    "#container0").style.visibility = "visible";
            } else {
                document.querySelector(
                    "#container0").style.display = "none";
                document.querySelector(
                    "body").style.visibility = "visible";
            }
        };
    </script>

    <header>
        <img class="logo" src="logo1.JPG" alt="logo">
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a href="#contact">Student</a></li>
            <!-- <li><a href="home.html" class="but">Sign-out</a></li> -->
            <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
        </ul>
    </header>





    <div class="student"><br><br>

        <nav style="position: relative; left: -2rem; margin-top: 7rem;">
            <ul>
                <a href="/student-home">
                    <li style="padding: 1rem;">
                        <img style="width: 2.5rem;" src="home.png" alt="home">
                    </li>
                </a>
                <a href="/profile_student">
                    <li style="padding: 1rem;  background-color: aliceblue;">
                        <img style="width: 2.5rem;" src="user.png" alt="user">
                    </li>
                </a>
                <a href="/index">
                    <li style="padding: 1rem;">
                        <img style="width: 2.5rem;" src="exam.png" alt="exam">
                    </li>
                </a>
                <a href="/studentresults" background-color: aliceblue;>
                    <li style="padding: 1rem;">
                        <img style="width: 2.5rem;" src="medical-results.png" alt="result">
                    </li>
                </a>
                <a href="/checkattendance">
                    <li style="padding: 1rem;">
                        <img style="width: 2.5rem;" src="calendar (1).png" alt="attendance">
                    </li>
                </a>
            </ul>
        </nav>

        <div class="profile">
            <div class="pr1">

                <div class="container">
                    <div class="main-body">


                        <div class="row gutters-sm">
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex flex-column align-items-center text-center card-body1">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle p-img" width="150">
                                            <div class="mt-3">
                                                <h4 class="p-name">
                                                    <%= users.first_name %>
                                                        <%= users.last_name %>
                                                </h4>
                                                <p class=" mb-1 p-bio1">Computer Science and Engineering</p>
                                                <p class=" font-size-sm p-bio2">MIT WPU Pune</p>
                                                <button class="btn edit">Edit</button>
                                                <button class="btn up">Upload</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mt-3">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                                            <span class="text-secondary">https://panther.com</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                                            <span class="text-secondary">panther</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-email mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Gmail</h6>
                                            <span class="text-secondary">pp@gmail.com</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                                            <span class="text-secondary">panther</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                                            <span class="text-secondary">panther</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Full Name</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%= users.first_name %>
                                                    <%= users.last_name %>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Email</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%= users.email %>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Branch</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%= users.Branch %>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Roll Number</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%= users.roll_no %>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Division</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%= users.Division %>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Date Of Admission</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%= users.date_of_admission %>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Phone</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%= users.phone_no %>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Resident City</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%= users.resident_city %>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Gender</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%= users.gender %>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Father's Name</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%= users.father_name %>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Mother's Name</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <%= users.mother_name %>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <a class="btn btn-info " target="__blank" href="/edit_sprofile/<%= users.PRN %>">Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="row gutters-sm r1">
                                    <div class="col-sm-6 mb-3">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <h6 class="d-flex align-items-center mb-3">Attendance Analysis</h6>
                                                <div id="bar1" class="center"></div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mb-3 r1">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <h6 class="d-flex align-items-center mb-3">Result Analysis</h6>
                                                <div id="bar2" class="center">
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->



                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>


    </div>



    <!-- Footer -->
    <footer class="text-center text-lg-start text-muted" style="background-color: rgba(198, 194, 255, 0.733);">
        <!-- Section: Social media -->
        <br>

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-9"></i>CLASS MANAGEMENT SYSTEM
                        </h6>
                        <p>
                            CMS is a complete solution for college database maanagement, providing data security and integrity. Easy to use UI with assistance to make best out of your time.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Sections
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Admin</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Student</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Faculty</a>
                        </p>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Started</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Team</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Contact</a>
                        </p>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Contact
                        </h6>
                        <p><i class="fas fa-home me-3"></i>Pune, India</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i> info@example.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> 1234567890</p>

                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgb(115, 75, 224); color: cornsilk;">
            <img src="logo1.JPG" style="max-height: 4rem;">

        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->



    <script>
        const data = {
            labels: [
                'January',
                'February',
                'March',
                'April'
            ],
            datasets: [{
                type: 'bar',
                label: 'Bar Dataset',
                data: [10, 20, 30, 40],
                borderColor: 'rgb(255, 99, 132)',
                backgroundColor: 'rgba(255, 99, 132, 0.2)'
            }, {
                type: 'line',
                label: 'Line Dataset',
                data: [50, 50, 50, 50],
                fill: false,
                borderColor: 'rgb(54, 162, 235)'
            }]
        };
        const config = {
            type: 'scatter',
            data: data,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        };
    </script>
</body>

</html>