<!DOCTYPE html>
<html lang="en">

<head>
    <title>Table V02</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->

    <link rel="stylesheet" href="css/student_mak.css">
    <link rel="stylesheet" href="css/student.css">

    <!--===============================================================================================-->

    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
</head>

<body>

    <header>
        <img class="logo" src="logo1.JPG" alt="logo">
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <!-- <li><a href="home.html" class="but">Sign-out</a></li> -->
            <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
        </ul>
    </header>


    <div class="student"><br><br>
        <nav style="position: relative; left: -2rem; margin-top: 7rem;">
            <ul>
                <a href="">
                    <li style="padding: 1rem;">
                        <img style="width: 2.5rem;" src="home.png" alt="home">
                    </li>
                </a>
                <a href="/profile_student">
                    <li style="padding: 1rem;">
                        <img style="width: 2.5rem;" src="user.png" alt="user">
                    </li>
                </a>
                <a href="/index">
                    <li style="padding: 1rem;">
                        <img style="width: 2.5rem;" src="exam.png" alt="exam">
                    </li>
                </a>
                <a href="/studentresults" background-color: aliceblue;>
                    <li style="padding: 1rem; background-color: aliceblue;">
                        <img style="width: 2.5rem;" src="medical-results.png" alt="result">
                    </li>
                </a>
                <a href="/checkattendance">
                    <li style="padding: 1rem;">
                        <img style="width: 2.5rem;" src="calendar (1).png" alt="attendance">
                    </li>
                </a>
            </ul>
        </nav>
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="container">
                        <h1 class="table-head">Results</h1>
                        <div class="table">

                            <div class="row header">
                                <div class="cell">
                                    Subject ID
                                </div>
                                <div class="cell">
                                    Subject Name
                                </div>
                                <div class="cell">
                                    Mid Term Marks
                                </div>
                                <div class="cell">
                                    Mid Term Percentage
                                </div>
                                <div class="cell">
                                    End Term Marks
                                </div>
                                <div class="cell">
                                    End Term Percentage
                                </div>
                                <div class="cell">
                                    Grade
                                </div>
                            </div>



                            <div class="row">
                                <div class="cell" data-title="ID">
                                    <%= user.subject_id %>
                                </div>
                                <div class="cell" data-title="Name">
                                    DBMS
                                </div>
                                <div class="cell" data-title="Mid">
                                    <%= user.msubject_id%>
                                </div>
                                <div class="cell" data-title="Mid">
                                    <%= user.psubject_id%>
                                </div>
                                <div class="cell" data-title="End">
                                    <%= user.esubject_id%>
                                </div>
                                <div class="cell" data-title="Percentage">
                                    <%= user.pesubject_id%>
                                </div>
                                <div class="cell" data-title="Grade">
                                    <%= user.gsubject_id %>
                                </div>
                            </div>


                            <div class="row">
                                <div class="cell" data-title="ID">
                                    <%= user.subject_id2 %>
                                </div>
                                <div class="cell" data-title="Name">
                                    DBMS
                                </div>
                                <div class="cell" data-title="Mid">
                                    <%= user.msubject_id2%>
                                </div>
                                <div class="cell" data-title="Mid">
                                    <%= user.psubject_id2%>
                                </div>
                                <div class="cell" data-title="End">
                                    <%= user.esubject_id2%>
                                </div>
                                <div class="cell" data-title="Percentage">
                                    <%= user.pesubject_id2%>
                                </div>
                                <div class="cell" data-title="Grade">
                                    <%= user.gsubject_id2 %>
                                </div>
                            </div>

                            <div class="row">
                                <div class="cell" data-title="ID">
                                    <%= user.subject_id3 %>
                                </div>
                                <div class="cell" data-title="Name">
                                    DBMS
                                </div>
                                <div class="cell" data-title="Mid">
                                    <%= user.msubject_id3%>
                                </div>
                                <div class="cell" data-title="Mid">
                                    <%= user.psubject_id3%>
                                </div>
                                <div class="cell" data-title="End">
                                    <%= user.esubject_id3%>
                                </div>
                                <div class="cell" data-title="Percentage">
                                    <%= user.pesubject_id3%>
                                </div>
                                <div class="cell" data-title="Grade">
                                    <%= user.gsubject_id3 %>
                                </div>
                            </div>

                            <div class="row">
                                <div class="cell" data-title="ID">
                                    <%= user.subject_id4 %>
                                </div>
                                <div class="cell" data-title="Name">
                                    DBMS
                                </div>
                                <div class="cell" data-title="Mid">
                                    <%= user.msubject_id4%>
                                </div>
                                <div class="cell" data-title="Mid">
                                    <%= user.psubject_id4%>
                                </div>
                                <div class="cell" data-title="End">
                                    <%= user.esubject_id4%>
                                </div>
                                <div class="cell" data-title="Percentage">
                                    <%= user.pesubject_id4%>
                                </div>
                                <div class="cell" data-title="Grade">
                                    <%= user.gsubject_id4 %>
                                </div>
                            </div>

                            <hr>
                            <h2 class="pf">MID TERM PERCENTAGE:
                                <%= user.mid_term_marks %>
                            </h2>
                            <h2 class="pf">END TERM PERCENTAGE:
                                <%= user.end_term_marks %>
                            </h2>
                            <h2 class="pf">Result(Pass/Fail):
                                <%= user.pass_fail %>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="charts">
            </div>

            <h1 class="chart-head">Performance Analysis</h1>
            <div class="box">
                <div id="chartContainer" style="height: 30rem; width: 100%;">
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        window.onload = function() {
            var chart = new CanvasJS.Chart("chartContainer", {
                title: {
                    text: "Class wise marks analysis"
                },
                axisY: {
                    title: "Percentage",
                    maximum: 100

                },
                data: [{
                    type: "bar",
                    showInLegend: true,
                    legendText: "Top",
                    color: " rgb(115, 75, 224)",
                    dataPoints: [{
                            y: 99,
                            label: "TOC"
                        }, {
                            y: 98,
                            label: "DBMS"
                        }, {
                            y: 95,
                            label: "Computer Network"
                        }, {
                            y: 100,
                            label: "SMD"
                        },

                    ]
                }, {
                    type: "bar",
                    showInLegend: true,
                    legendText: "Present",
                    color: " GOLD",
                    dataPoints: [{
                            y: 90,
                            label: "TOC"
                        }, {
                            y: 80,
                            label: "DBMS"
                        }, {
                            y: 65,
                            label: "Computer Network"
                        }, {
                            y: 95,
                            label: "SMD"
                        },

                    ]
                }, {
                    type: "bar",
                    showInLegend: true,
                    legendText: "Average",
                    color: "rgb(171, 143, 246)",
                    dataPoints: [{
                            y: 80,
                            label: "TOC"
                        }, {
                            y: 75,
                            label: "DBMS"
                        }, {
                            y: 81,
                            label: "Computer Network"
                        }, {
                            y: 85,
                            label: "SMD"
                        },

                    ]
                }]
            });

            chart.render();
        }
    </script>


    <%- include('../partials/footer') %>